@charset "utf-8";
/* CSS Document */

/* ---------- GENERAL ---------- */

body {
	background: #f1daf1;
	color: #000;
	font: 14px/1.5em "Open Sans", sans-serif;
	margin: 0;
    overflow-y: scroll;
    height:100%;
    width:100%;
    margin:0;
    padding:0;

}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

input {
	border: none;
	font-family: inherit;
	font-size: inherit;
	line-height: 1.5em;
	margin: 0;
	outline: none;
	padding: 0;
	-webkit-appearance: none;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}
.clearfix:after { clear: both; }

.SearchBarContainer {
	height: 44px;
	left: 50%;
	margin: -22px 0 0 -141px;
	position: fixed;
	top: 50%;
}


h1.logo {
    font-weight: bold;
    position: fixed;
    color: #8B008B;
    font-size: 50px;
    text-align: center;
    left: 50%;
    top: 50%;
    margin: -110px 0 0 -210px;
}


ul {

    display: inline-block;
    top: 50%;
    left: 50%;
    position: fixed;
    font: 2em;
}

ul.leftlist {

    margin: 40px 0 0 -170px;

}

ul.rightlist    {

    margin: 40px 0 0 0;
}

    /*top: 25%;
    left: 35%;

}

/* ---------- SEARCH ---------- */

#SearchBar {
	background: #42454e;
	border-radius: 3px;
	display: inline-block;
	padding: 7px;
}

#SearchBar input {
	float: left;
}

#SearchBar input[type="search"],
#SearchBar input[type="submit"] {
	border-radius: 3px;
	font-size: 12px;
}

#SearchBar input[type="search"] {
	background: #fff;
	color: #42454e;
	min-width: 184px;
	padding: 6px 8px;
}

#SearchBar input[type="submit"] {
	background: #ff7086;
	color: #fff;
	font-weight: bold;
	margin-left: 7px;
	padding: 6px 10px;
}

#SearchBar input[type="submit"]:hover {
	background: #ff3f5d;
}

#SearchBar input[type="search"]::-webkit-input-placeholder { color: #42454e; }
#SearchBar input[type="search"]:-moz-placeholder { color: #42454e; }
#SearchBar input[type="search"]:-ms-input-placeholder { color: #42454e; }
