/*css document*/
#header{
  height: 120px;
  width: 100%;
  background-color: #ffffff;

  }

#pageTitle{
  text-align: left;
  margin-left: 20px;
  vertical-align: middle;
  font-size:medium;
  color: #4d004d;

}
#resultsGrid{

}
#filter{

}
.container {
    margin: 20px auto;
}
#productlist {
    margin: 20px -15px;
}
.pagination {
    margin: 0;
}
@media (min-width: 768px) {
    #productPager {
        text-align: left;
    }
}
#pageSize {
    margin-left:15px;
}

.sliding-sidebar {
    position: absolute;
    z-index: 1;
    background: #fff;
    min-height: 100%;
    border-right: 1px solid #ccc;

    &.collapse,
    &.collapsing {
      display: block !important;
      transform: translate3D(-100%, 0, 0);
      transition: all 200ms;
    }

    &.collapse.in {
      transform: translate3D(0, 0, 0);
      box-shadow:
        1px 0 0 rgba(0,0,0,0.05),
        2px 0 0 rgba(0,0,0,0.05),
        3px 0 0 rgba(0,0,0,0.05);
    }
  }
}

.parent-expanded {

}
.parent-collapsed {
  display: none;
}

.collapsed {
  .parent-expanded {
    display: none;
  }

  .parent-collapsed {
    display: inline-block;
  }
}
